<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array/>
	</dict>
	<string></string>
	<string>月費</string>
	<dict>
		<key>UUID</key>
		<string>58387919-B57A-408A-9334-C7EA8BE77D7E</string>
		<key>EndDate</key>
		<date>2022-08-13T01:45:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CBB56D9B-EA38-48D0-8503-9C20BC399FA1</string>
		<key>EndDate</key>
		<date>2022-08-10T20:03:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C30A2B47-7AC6-4ACD-9F94-2821665AC602</string>
		<key>EndDate</key>
		<date>2022-08-11T11:43:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3B5DF6E1-F451-411E-AB90-E4E3FDC8A970</string>
		<key>EndDate</key>
		<date>2022-06-20T13:51:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>88C2AF48-0FA3-4AEB-99E9-98865843E27A</string>
		<key>EndDate</key>
		<date>2022-07-21T13:00:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6D663646-217A-4641-B015-B87D47BBC47A</string>
		<key>EndDate</key>
		<date>2022-06-15T20:30:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BE0BC841-B9CD-437B-A7F8-819D40D25923</string>
		<key>EndDate</key>
		<date>2022-07-24T22:48:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D626D080-E6A6-4FB5-B230-C099B07D5AEA</string>
		<key>EndDate</key>
		<date>2022-07-14T16:37:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0DBF0E81-1EE3-4EF6-8E57-303B06BAF0AC</string>
		<key>EndDate</key>
		<date>2022-07-19T20:26:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DBBF3EFF-759D-4BE7-939B-B90AD96D453C</string>
		<key>EndDate</key>
		<date>2022-08-18T21:50:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>146C45AC-56A2-45DC-A4D3-274EC633C368</string>
		<key>EndDate</key>
		<date>2022-08-09T19:50:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BB13709B-961D-41FB-A99B-C77467DE69A1</string>
		<key>EndDate</key>
		<date>2022-06-11T11:51:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B84A96F1-DC13-4438-8501-88090EF0504F</string>
		<key>EndDate</key>
		<date>2022-06-24T00:19:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D0C1D93A-0A63-41CC-967D-90D8BD198D26</string>
		<key>EndDate</key>
		<date>2022-07-25T17:45:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B2462FEF-3D8F-4C61-80E0-EE3340ECE7A0</string>
		<key>EndDate</key>
		<date>2022-06-03T20:31:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>023AD70C-F511-421B-B015-CFDF62A5D077</string>
		<key>EndDate</key>
		<date>2022-06-09T11:35:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C1ACD992-3E67-423E-8EA0-2C7E84D286F9</string>
		<key>EndDate</key>
		<date>2088-05-23T13:02:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>733037B7-A9F5-4E8D-8899-00926E586C71</string>
		<key>EndDate</key>
		<date>2022-06-11T01:18:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>61BAE706-59CC-411F-87D1-5315335E625B</string>
		<key>EndDate</key>
		<date>2022-06-13T15:10:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>45172BF7-ADE7-47A0-9FBD-2F65693C5D9B</string>
		<key>EndDate</key>
		<date>2022-08-14T22:42:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A6145B0D-6BC3-4570-B725-D026252C3E8D</string>
		<key>EndDate</key>
		<date>2088-06-14T00:40:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DBAEEA46-9703-42C8-8160-A1D216ADAE8A</string>
		<key>EndDate</key>
		<date>2022-06-26T18:24:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A287C664-F1CF-41EE-8E78-13DD2133F9D3</string>
		<key>EndDate</key>
		<date>2022-06-27T23:10:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1EA4BACE-E74A-48FB-82E5-8E6E3CAFE26C</string>
		<key>EndDate</key>
		<date>2022-06-28T12:18:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B14A52C8-65C6-456A-B3D5-7C4E44C8E9D2</string>
		<key>EndDate</key>
		<date>2022-06-30T20:49:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>78950D6B-0D5E-461F-A166-4FAB9225A7A5</string>
		<key>EndDate</key>
		<date>2022-06-30T20:55:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A291A3E9-AAC9-4E45-97E9-F187451CE1A3</string>
		<key>EndDate</key>
		<date>2088-06-30T20:55:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>69480DF7-4172-46DB-B3E6-2B5FC931D699</string>
		<key>EndDate</key>
		<date>2022-07-01T16:05:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9954E125-2940-463E-BFA3-25681DFB7822</string>
		<key>EndDate</key>
		<date>2022-07-05T14:47:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6F57C5C7-155D-4A21-9568-6CAD26CEA3EF</string>
		<key>EndDate</key>
		<date>2022-07-07T13:44:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C7AE2CE0-E412-451C-9572-02D220827FF7</string>
		<key>EndDate</key>
		<date>2022-07-08T01:40:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>47859410-0193-407E-90D8-01A53A2C77FE</string>
		<key>EndDate</key>
		<date>2022-07-08T16:00:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6817A330-0391-4CA9-8641-92FF6DF47569</string>
		<key>EndDate</key>
		<date>2022-08-08T20:30:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7D488CFD-4B68-4B2F-90F0-9F3692A5EC78</string>
		<key>EndDate</key>
		<date>2022-07-09T21:32:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>90E868BB-819A-4019-B3A7-505AB3809ACD</string>
		<key>EndDate</key>
		<date>2022-07-10T19:50:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A5926472-B8EA-44FB-9E4B-4F4A28FC6109</string>
		<key>EndDate</key>
		<date>2022-08-11T21:05:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0D6042D2-C6AF-424B-9D40-733E0254F0C7</string>
		<key>EndDate</key>
		<date>2022-08-11T22:15:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2F490DFF-C071-4025-8B5A-51BE5278F35D</string>
		<key>EndDate</key>
		<date>2022-07-14T15:56:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1706493B-387D-4433-B824-7BE9FC460289</string>
		<key>EndDate</key>
		<date>2022-07-15T15:19:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0692F7FC-E430-4BFF-BAD7-7B282AE299F2</string>
		<key>EndDate</key>
		<date>2022-08-16T21:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>44256540-EF8D-4F1D-8D43-02569D775B2B</string>
		<key>EndDate</key>
		<date>2022-08-17T15:50:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0C9CB12B-00B9-47D3-A737-D153FD1F2517</string>
		<key>EndDate</key>
		<date>2022-07-16T23:30:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1D6D9211-B8C9-48AF-ACDB-1A090776219D</string>
		<key>EndDate</key>
		<date>2022-07-17T23:20:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ACD3C5CD-7E2F-48DC-AADA-3623C7605CD2</string>
		<key>EndDate</key>
		<date>2022-07-19T11:48:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2CEEA2D2-C2A2-47C9-8643-4B257567587D</string>
		<key>EndDate</key>
		<date>2022-07-21T22:10:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29200041-D5DD-4037-85C8-78EE83EBF910</string>
		<key>EndDate</key>
		<date>2022-07-23T14:47:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0BF4AA93-28AF-4DE3-99D2-A5BBE3E2920C</string>
		<key>EndDate</key>
		<date>2022-07-24T15:55:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1937933B-2C31-490A-83C5-65791566F7B9</string>
		<key>EndDate</key>
		<date>2022-07-24T21:20:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>38C7C7E7-5790-4C3A-B132-3368979C8532</string>
		<key>EndDate</key>
		<date>2022-07-28T12:14:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DAA3B386-3DF7-4C06-90C6-A4CC0E5D5BDE</string>
		<key>EndDate</key>
		<date>2022-07-29T21:40:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1455D849-C69F-4ADC-8B59-E7A87610AE2D</string>
		<key>EndDate</key>
		<date>2022-08-02T22:35:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>055041AF-F4F4-4031-8D9A-038D91E26FFE</string>
		<key>EndDate</key>
		<date>2022-08-03T20:37:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>23262014-6AC9-4330-917B-3FD71DBE3DFD</string>
		<key>EndDate</key>
		<date>2022-08-03T20:37:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CE191A82-20D2-4B33-81E6-4A8DB2B1AC2B</string>
		<key>EndDate</key>
		<date>2022-08-05T11:30:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0F3A562D-3943-4073-BD77-930269783B32</string>
		<key>EndDate</key>
		<date>2022-08-05T11:33:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8B60ACD3-092A-4992-BE87-390DBFC9BA4F</string>
		<key>EndDate</key>
		<date>2022-08-05T19:52:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>404421D4-2179-4B24-81AC-4B8B1B71B649</string>
		<key>EndDate</key>
		<date>2088-08-05T19:52:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>31EA9C97-3038-4F9D-9FCF-A32C023F21F2</string>
		<key>EndDate</key>
		<date>2022-08-06T00:25:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BB018BD7-82E3-4E0C-923C-9F260B75E5D5</string>
		<key>EndDate</key>
		<date>2022-08-06T11:45:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2F975F12-40A7-4552-93BC-01482C7F08F1</string>
		<key>EndDate</key>
		<date>2022-08-06T14:12:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>95122CB8-7111-4EB6-BF5B-E6EE2E5FF1CC</string>
		<key>EndDate</key>
		<date>2022-08-07T19:23:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>35148870-9B43-43C2-9FB6-A061E4B9B8E0</string>
		<key>EndDate</key>
		<date>2022-08-10T12:57:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6B7CEEB2-19EA-4D25-BC6F-89CC2C1F231C</string>
		<key>EndDate</key>
		<date>2022-08-13T22:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>609BCE4C-AA01-4747-8F38-CD06E22EC0FB</string>
		<key>EndDate</key>
		<date>2022-08-14T13:45:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5FE2F056-95BD-46E1-A4C8-AD9035A91818</string>
		<key>EndDate</key>
		<date>2022-08-14T15:45:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8477BA32-257C-4009-BA2C-A14969425456</string>
		<key>EndDate</key>
		<date>2022-08-15T17:20:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6A232F71-6B39-4AAE-BC8C-AD7FCFD241EB</string>
		<key>EndDate</key>
		<date>2022-08-14T18:21:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A6ADC4DD-2366-4039-8E68-AFE89B484CB6</string>
		<key>EndDate</key>
		<date>2022-08-17T12:14:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6B5A729D-D762-437C-8839-636F3F07D455</string>
		<key>EndDate</key>
		<date>2022-08-17T15:23:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DCC50608-DD99-497F-B200-E2567C589408</string>
		<key>EndDate</key>
		<date>2022-08-17T21:02:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A291A3E9-AAC9-4E45-97E9-F187451CE1A3</string>
		<key>EndDate</key>
		<date>2022-08-17T21:02:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
        <integer>1</integer>
		<key>LeaderBoard</key>
        <integer>1</integer>
		<key>AutoVictory</key>
        <integer>1</integer>
	</dict>
    <string>底部</string>
</array>
</plist>
