<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/trico0922/ccgame/main/uid-kkgg886.plist</string>
			<string>https://www.dropbox.com/s/qv9nj5y44ra6x7j/uuids-hackteamtt.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/7jnpzyqyj2iopr7/uuids-cyckgtw.plist?dl=1</string>
		</array>
	</dict>
	<string>IPA-start</string>
	<string>賽季</string>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4D561477-B34D-46C2-8780-2649AC2F43D9</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>07D4AE27-24F8-4E16-A1FB-6A33B7CAB4AE</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>67446BC9-EE21-454D-A5DC-6FE95C1F3419</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>325AB500-812E-4983-8ADD-E334575D5C2D</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>7718E7A5-9554-4641-8422-95E93F2B9062</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0BDEFF18-7A60-46E4-B286-296C3AED22F3</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C9B84679-BA6A-4187-A152-AC95AEE03A3B</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5D6A78A0-89D4-4211-B743-4F498485EE58</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>471B25BD-8576-4991-BF55-1EAB4FE9DF18</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>514D6D94-FBEB-44CE-9ED8-D51B08D9EC36</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3A5958E9-4233-4C4B-8604-06C8B0B603B0</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>124F9DC8-D661-419C-B889-2B0BF507FDF2</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>A7D24019-F230-4A4D-ADDD-96220EDF4391</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>071FAA7A-A5D9-4A88-955F-ED1101964E23</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>E8332B25-8EC1-4BFB-87EB-A1BA807F97F6</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8A2D0BEB-BFEB-4533-968D-A75A5D032372</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8ACC5529-2FF8-4C01-B818-E8ADECDFAB39</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>AE7465AB-852A-400C-9D30-E0F4ACCAD33E</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8B2E73ED-3715-43EA-9712-E843CAC78D18</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2FFF6DC4-34D4-41A6-93E7-F14B2881364B</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8FA42139-6CBC-4705-87CD-C37B1EC59AF3</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>94106405-4D96-4710-ABBD-E31E7B81E63D</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3F45CA25-65B5-488D-BD18-07D5668D5D3C</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>6508C888-4778-48FB-A980-5C37DA9F3F9D</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>68517CC6-7D91-48FC-B0DA-E5C832174CD6</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9A357A89-B6DF-4EB3-A3BD-238FCB581D7A</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>70A7EC3E-549C-4374-80B5-C80A677535D0</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>79FA6852-1F71-4A58-A486-1E8E8C1E7DA6</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F9E8E0BB-3ED1-49D3-8ED6-68FD560473BF</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>49673698-EE2D-43C7-9FA0-AF99755588F1</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>81BCFA9C-308D-4596-BA4A-6D6A7CE8B733</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>63657C15-E908-4615-9156-9E8ED28976E8</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FC8F44FE-E9F7-4642-B370-D56BEEA83AF9</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CB057B0C-EFD1-442A-91A5-47049DB6BD83</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5FB129DF-B20C-44CD-B429-FD561C2A754E</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>E4E483EE-BA9C-4702-B781-16E304F1ED16</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3EA95FD1-EDF2-4E85-A122-632F5260171C</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0CAA6CB0-AB8A-4469-9728-2C0BD0EB21EA</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>E0D4AED3-FCEA-40A1-999D-0C8C7E9EF43F</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5952C9E2-3EAB-4BE2-A1B8-DCCA7BFAB860</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0EB843E4-2120-4B48-B61C-A57D9329BAA2</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>AAED1A6F-78C8-4A32-97D3-D40FBC0A1642</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4BFB2045-CCEC-4117-9F72-B6723A21989B</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>7BB03D88-1DA2-4929-984B-39483BCF231D</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3B3E90C1-E130-41AE-8A5E-616033EDE8CD</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>D2C70470-B640-4285-A192-4DF0700BE8A1</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>537B75A1-5183-4B6F-AA5E-8A0FDDB5A4D2</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>EE70C02F-0B9F-457F-8F0C-4B04320A1893</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>E93F1E19-64A1-48C8-B72A-32BC72189861</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>71F1507A-34ED-4F2A-AE58-780A597AEB4F</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>79251D25-9A09-4BAF-AFAD-13F603E21563</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C4548BD8-00D4-40AC-98F2-318104F93549</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F652BDB0-FD15-46D5-84FC-2EA04CC33993</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>88614DD6-6342-4B4E-8E5F-36FDDCC5D857</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>180A6BB9-E6B2-448C-8B33-6B0B4F2DC969</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>A90B9327-261F-48D0-A5BA-4FB9045F193B</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B6F500D1-A1BE-43FF-9B94-10D85989DBC2</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>D410126B-290E-4075-B398-629E221F0819</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2C7CB8C8-50A0-4B33-9FF8-63BB840BD445</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F2F83638-6F88-41F8-9584-D20C942C44F1</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9BBFE309-0C3C-4EAA-8C61-08680EB2688B</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>EB8208FA-3E6F-4CEE-B772-658E6893ABB2</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>49FC7F7D-741C-4CE7-B37B-05AF3B0D3F7C</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C3ABF566-8588-4ADE-9B4A-25B8B9213A0D</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>395CC31F-1569-415C-891C-908266D5AFD3</string>
		<key>EndDate</key>
		<date>2023-01-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8361B300-88EA-4AC0-BE09-89897FFEBE56</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B3D17BD4-8A49-4E21-9632-ED324DEEACCF</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>47E415F6-E59E-4081-87F2-7B1AB6E6346E</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>ABDEB0F0-383F-4949-8B1E-0324F116A777</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>06316DCE-9D50-4E61-8C16-5E3D1A4FD59C</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B3B6D6D7-1FF6-4EE9-8CFF-FC0AC2F3481C</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>25B00DD5-C310-43FC-B09C-D7B21E1FABF1</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4EBF4388-F513-47F1-B0C9-663EC8790CAC</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1D45EAD0-3343-4E96-A179-9066230BFC50</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>BE01465A-4820-49C1-A833-50A3DEE637FE</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5A9877E7-DF7B-40BE-99B5-7D49A98F2462</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4B48648F-DBAB-4174-9D9B-D285E5874EFC</string>
		<key>EndDate</key>
		<date>2023-01-30T23:23:59Z</date>
	</dict>
	<string></string>
</array>
</plist>
