<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UUID</key>
		<string>0C3B8E14-D9CE-46A3-818B-966008BBEA50</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-12-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>30695ECB-3325-49D5-8827-92FC170241FE</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-12-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>475A308F-D0A8-48CF-AF97-9DD1B3680E60</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-12-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8B96CB8B-2A43-4EDE-9B64-91492DE140CB</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-12-16T15:59:59Z</date>
	</dict>
</array>
</plist>
