<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/trico0922/ccgame/main/uid-kgtw.plist</string>
			<string>https://www.dropbox.com/s/qv9nj5y44ra6x7j/uuids-hackteamtt.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/7jnpzyqyj2iopr7/uuids-cyckgtw.plist?dl=1</string>
		</array>
	</dict>
	<string>IPA-start</string>
	<string>賽季</string>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>83A7381D-586B-4947-B795-43A3E95ABF69</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B1511EDA-FAA2-4941-B173-310740BB8443</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>019A78EF-F7EC-4819-BD58-0EEC762D0156</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>85A8E0AC-B3D8-491B-9FFA-EF8B8BA55C8A</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>54391D76-CF2A-4AB8-B72F-E973FC7ECB05</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>093801D0-8747-4818-BFFD-B829A7CB6E36</string>
		<key>EndDate</key>
		<date>2088-04-18T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>FF6343DD-49FB-4EFA-AEC8-0D678E3A2E74</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F53C8C73-3DED-4B83-9EFE-45B1F2C22E74</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9A357A89-B6DF-4EB3-A3BD-238FCB581D7A</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CE690662-5A20-40FE-BE7B-9733D1EF8A93</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>833E6B82-BAEA-4788-BCEE-03C031BD11F7</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>AE7465AB-852A-400C-9D30-E0F4ACCAD33E</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>6968880E-9FF9-409E-AAF3-28711C985DEA</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>49673698-EE2D-43C7-9FA0-AF99755588F1</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3E4E1336-EAA1-429A-80AE-8A008DE9B86A</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B9681C8C-C3EC-4F02-8027-06EE19C5485A</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1E9EC14D-764A-4318-B335-5C66C495A9D6</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4DDBC68B-7544-4695-893D-418F4D02902A</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CBADC403-D822-47B2-9058-5D79F40EFBA1</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>06316DCE-9D50-4E61-8C16-5E3D1A4FD59C</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9CDD49CE-4329-4F25-A4E0-B6FCDF7BB737</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CF17863F-1CA8-47B9-9B4E-0636E2D0A850</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9DFEEDAE-FA6B-4977-B2AC-EFB03F7584D2</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>40411206-3464-4A5B-BCF4-B95605BF344E</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>649FAA26-6E7F-401F-BA21-DCB7759FF8F7</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>10C71171-74E0-42C7-80EA-2F72BB5F6939</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>50509386-FC2F-48FC-9883-F61B9ECA82D5</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5A7AAE37-32BD-4B39-BA70-5A272ACA2DE9</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8E558A8B-8200-41E6-AF7B-5209042EBDD5</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1E7CEC65-30F3-4EC2-ACCC-A021829E61D8</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>EE8389B3-4FE8-48AD-8F70-64962515FAE0</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>08E15196-215E-4450-883B-785EB0EB403B</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>6B9AC7E6-1996-4961-AE8B-A0A24D3AD45D</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>622B283B-D8A0-4F95-AA2D-ABB8E0305610</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>6EF05447-05B3-49C0-8972-6DE216CEAD7D</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>59815086-3389-4A26-B970-0EBD7D1FF738</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>33AF0B60-8B8A-4322-992A-47B994DEF007</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B72F3BF4-427D-40B7-A06D-279CF8530BA0</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1E29C837-EFFF-4C9F-85CE-B1E804797B22</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>D711C8CC-1303-4686-8941-F618DF62A9CB</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>FBD5E81F-76F2-4775-B261-D1DB09F5E4A4</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>62611555-65EB-44C8-AC82-B545C20301D8</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>40483AFD-E5C6-4394-8401-C837A48DD34E</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>89DB5AAF-D7D2-4251-B969-CE99837C1F08</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5DBE5FB2-0CCB-4E6F-8A9B-7C409EE05899</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8F781AF0-BD8B-47E7-BB2C-4576BE40732F</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>68F52208-C629-4628-BE48-FE2D7D7AB7E7</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B84579FC-434F-43B7-B943-6E985D540470</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F0D0CE29-1947-47E3-B3AD-AD25361791E8</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0A9EB26C-9C18-4BDB-97D3-21DFC3C17BB4</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>09277741-2FB3-4A2E-831D-A0F984AF76A6</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1C04DBC9-6106-45E4-BAAC-81F799AC32DB</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9A358351-F4E5-40FC-9833-6E4510E94B91</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2E7CACE2-4066-42BA-8867-0681EC90DAEC</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>210B2F1B-C7BF-4C55-A4A0-D6946B8C4F99</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>385F8293-D773-4BD7-8670-BB74466643B9</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>24E58AC1-A650-4812-BC30-E909D2E2EFCE</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>46CD7D01-4AA0-40EF-B163-34833E8E4EFF</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9F1831CD-967B-49F9-A7A4-84F602E90AD8</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>7433F403-CE14-4CFA-A021-377F236EDF75</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>7C7F939C-1EAD-4CE3-BF74-1E7FD3D1539E</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0C80DE17-1DD5-4918-BF6D-DDD590C4A532</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>17DDC8AC-C8EC-414A-8314-D73FF5897212</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4B12A3E8-6271-4970-BBF2-120BC7FDCC2E</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5D7044AF-2853-496D-8777-513145F8DD3B</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>28576630-9FD7-4E21-A91E-DFC196FE7739</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>14056FAB-48B0-4E7E-BA44-3AADC85CBAD6</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>6D3B9CA2-EA2E-4EB5-ABD8-B5773C8B1B00</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>01BB3B5B-30F3-42EE-B229-5F33D7467AF6</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>91B1601E-5A6B-4DF0-91DD-5028AE3F97D5</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4EF0BD43-E8B6-42B9-BCF9-266D09336CE2</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>D88769B8-629A-449A-B7E4-8A5018CA2F00</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F9E8E0BB-3ED1-49D3-8ED6-68FD560473BF</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>E720D3E1-4928-41A0-A171-3E8F396CE396</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2455DC5E-84F0-4A56-BA4D-BD989E228649</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>387E5593-8752-4295-B128-8A66BE51577C</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>E7DEEA1A-2264-4F8A-8585-CBC038E38B37</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8F8F471A-8DF0-4613-8654-EA0D4EAE52D7</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3F02ACB4-8A38-43DE-9300-729A598EC2D6</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C47B097E-53AC-4054-AE48-91138E7B8E49</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>980617C5-4342-41A1-9E51-993C445B1F13</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>124F9DC8-D661-419C-B889-2B0BF507FDF2</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3022F1C5-0775-4E9F-8BF9-E5A9D219B72A</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>83C722FD-B0F0-4427-AFCD-4138C23681DC</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>556DBFE2-FCCB-4868-8EAE-2A6A835DA7A6</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>D38DBA41-431A-4C0B-8AB5-A02BC5FAB1FA</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>FDDC3A23-A7B7-4915-8026-1B1E5A9B46ED</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>FD3A0FE7-B442-4538-915D-E22DDDA78471</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3DE8C8C3-A54A-4ADA-BB78-EB3DD2587D5E</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>DE374D86-47AC-41DD-8D60-B5811AA3F5FC</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>ED4132E6-2CA1-4968-BA6B-844C505D912F</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>DB42BC0F-4619-4F64-A8B0-5BC3BA0687CD</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9C4F5636-1475-402F-AC40-4F5BDFBB9B56</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>A0C38136-9EB9-4FB1-865E-0CCA01BB8861</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5D69C2E5-DC9E-465C-A429-A36927F2AEB8</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>7DBB88BF-B209-4E63-A889-18DBCDF80D00</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1FE24900-B0FA-4730-91E0-3B382B5135B6</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>BC17BB77-0679-4FC8-944C-9EA5D1908D07</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2FFF6DC4-34D4-41A6-93E7-F14B2881364B</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F8B22947-66FC-4BBB-9904-727C98D8463C</string>
		<key>EndDate</key>
		<date>2022-09-30T23:23:59Z</date>
	</dict>
	<string></string>
</array>
</plist>
