<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/trico0922/ccgame/main/uid-kkgg886.plist</string>
			<string>https://www.dropbox.com/s/qv9nj5y44ra6x7j/uuids-hackteamtt.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/7jnpzyqyj2iopr7/uuids-cyckgtw.plist?dl=1</string>
		</array>
	</dict>
	<string>IPA-start</string>
	<string>賽季</string>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>069251E2-0E8F-4EB0-AFD3-C59F002E0F3F</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>180A6BB9-E6B2-448C-8B33-6B0B4F2DC969</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>564E79EC-F9E0-41FE-869A-5E8AC6088CEF</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B2F023C6-AAE8-43D0-9AAD-48A5A4A8C961</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B1F99402-AAD2-43E1-8CBE-E08D3EA92AAA</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>AB965823-91B1-46C5-9486-0708782072E9</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5D6A78A0-89D4-4211-B743-4F498485EE58</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F3161BD2-6581-4282-9080-41DE312FD304</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>68BD3ED7-FF3F-4864-A8D0-9D477B3618B3</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0FA594BB-B61B-455F-AAF3-A4FB58D5C077</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>D44000CD-D864-43F7-B191-FAD9D3DDCF40</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CD892436-7FEC-43B6-B0FA-43B159CFF98B</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B740F996-96EE-4E93-A219-5459DFE5DD7D</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>BB4ABD27-9871-4323-A1DF-E95A3D418BCC</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>168E956F-12E5-45FB-8152-51C08C4247B6</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>EFDA2403-4537-46F0-A2AC-D3617AF51902</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F9D3C336-2A31-497D-AD4F-87273DD88052</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>52A79289-CB2E-4557-BB46-539C09CC8BA0</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>63657C15-E908-4615-9156-9E8ED28976E8</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>47E415F6-E59E-4081-87F2-7B1AB6E6346E</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3141D03B-9A5A-436B-B1B5-F52F862DFEF1</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C75C216D-85D7-4077-9BFF-8190749D85CA</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4BFB2045-CCEC-4117-9F72-B6723A21989B</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8A2D0BEB-BFEB-4533-968D-A75A5D032372</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8ACC5529-2FF8-4C01-B818-E8ADECDFAB39</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4B48648F-DBAB-4174-9D9B-D285E5874EFC</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B3B6D6D7-1FF6-4EE9-8CFF-FC0AC2F3481C</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>3F45CA25-65B5-488D-BD18-07D5668D5D3C</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>ABDEB0F0-383F-4949-8B1E-0324F116A777</string>
		<key>EndDate</key>
		<date>2023-05-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>07D4AE27-24F8-4E16-A1FB-6A33B7CAB4AE</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>A7D24019-F230-4A4D-ADDD-96220EDF4391</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>BF72259C-CA42-4B9D-A2DC-E1BEA3A66AA0</string>
		<key>EndDate</key>
		<date>2023-05-15T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C9B84679-BA6A-4187-A152-AC95AEE03A3B</string>
		<key>EndDate</key>
		<date>2023-05-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>06316DCE-9D50-4E61-8C16-5E3D1A4FD59C</string>
		<key>EndDate</key>
		<date>2023-05-15T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>81BCFA9C-308D-4596-BA4A-6D6A7CE8B733</string>
		<key>EndDate</key>
		<date>2023-05-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>70A7EC3E-549C-4374-80B5-C80A677535D0</string>
		<key>EndDate</key>
		<date>2023-05-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>EB8208FA-3E6F-4CEE-B772-658E6893ABB2</string>
		<key>EndDate</key>
		<date>2023-05-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9BC1AA89-C5A0-49D9-A6F6-67F0C0DEB18E</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CFC9E023-1E04-4648-9468-B08B61A1BDF5</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>471B25BD-8576-4991-BF55-1EAB4FE9DF18</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>071FAA7A-A5D9-4A88-955F-ED1101964E23</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2A582CD4-8342-49EF-9865-A9994BC88980</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C543B0EC-43D0-4AEB-A8D1-3B2BCF499602</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>E0D4AED3-FCEA-40A1-999D-0C8C7E9EF43F</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>57AB784D-F4C0-431B-B5D7-C9F78D5EB353</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2E9EC8BF-6623-4CE0-8990-7DB71EEFC848</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>30459E8A-915C-4323-8249-8AFABC441451</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C108F64E-F4E2-40B8-B148-6BA980235320</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1A4D367E-7185-4216-98A5-E5C190430CF7</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F6CEA289-AFF0-4A33-B9A2-E5A795D345B2</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0030D2CA-1E14-4927-A1EB-3699832FE51E</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>6081DB50-3AD3-46B7-B53E-A0E6E7BDEA12</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2FFF6DC4-34D4-41A6-93E7-F14B2881364B</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B081C4B2-27E9-481C-B13A-FCF7FFB09F6F</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F9E8E0BB-3ED1-49D3-8ED6-68FD560473BF</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>94F76629-C9FC-42FE-AB0D-9892277160EC</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5A5D2078-896F-4D3F-8B75-70BFA2575DDE</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>7AF7D9C7-A070-40F6-BBA5-6B2C50B77591</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>30D6BB75-C13B-490F-ADF4-E7ABAC808F69</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>DF8FE690-644C-4C32-B7A2-8B18C561A14D</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>74416F99-F469-4589-BDF7-B8C952D76145</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>79E20FB0-F076-4922-932C-AF389CA0DB86</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>11691541-F24C-4860-A77C-F079AA6B9D09</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B8FD40E9-FDF8-49E4-AA5E-96C23F5917D2</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>36F34917-51BF-4907-A24B-CDB5E784A47E</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>E79472EE-C838-4C05-9698-1D71FE2F9A86</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4193CB5B-F5D8-484F-82A7-47FEB1F2C6E1</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>ACE705C2-53B7-46E3-9DFF-08AFB5BCF801</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2A0D7FCB-0263-4D26-979C-FB1E1CF7CA14</string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2023-05-13T23:23:59Z</date>
	</dict>
	<string></string>
</array>
</plist>
