<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/trico0922/ccgame/main/uid-kgtw.plist</string>
			<string>https://www.dropbox.com/s/qv9nj5y44ra6x7j/uuids-hackteamtt.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/7jnpzyqyj2iopr7/uuids-cyckgtw.plist?dl=1</string>
		</array>
	</dict>
	<string>IPA-start</string>
	<string>賽季</string>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8A2D0BEB-BFEB-4533-968D-A75A5D032372</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8ACC5529-2FF8-4C01-B818-E8ADECDFAB39</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>AE7465AB-852A-400C-9D30-E0F4ACCAD33E</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CE690662-5A20-40FE-BE7B-9733D1EF8A93</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2FFF6DC4-34D4-41A6-93E7-F14B2881364B</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5A7E4D8A-F8F4-4101-A51E-4D26967255DB</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C47B097E-53AC-4054-AE48-91138E7B8E49</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>EE8389B3-4FE8-48AD-8F70-64962515FAE0</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>6508C888-4778-48FB-A980-5C37DA9F3F9D</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5D69C2E5-DC9E-465C-A429-A36927F2AEB8</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9A357A89-B6DF-4EB3-A3BD-238FCB581D7A</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>70A7EC3E-549C-4374-80B5-C80A677535D0</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>62611555-65EB-44C8-AC82-B545C20301D8</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F9E8E0BB-3ED1-49D3-8ED6-68FD560473BF</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>49673698-EE2D-43C7-9FA0-AF99755588F1</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>81BCFA9C-308D-4596-BA4A-6D6A7CE8B733</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>63657C15-E908-4615-9156-9E8ED28976E8</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>431C4521-080E-4AC3-81D8-D75AEC8AA936</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CB057B0C-EFD1-442A-91A5-47049DB6BD83</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5FB129DF-B20C-44CD-B429-FD561C2A754E</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B9F4F888-362D-4CB0-B719-525AB64F3E9B</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>7E2F0C7A-1905-423A-94E2-9E37752A9F85</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0CAA6CB0-AB8A-4469-9728-2C0BD0EB21EA</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>A0C38136-9EB9-4FB1-865E-0CCA01BB8861</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>5952C9E2-3EAB-4BE2-A1B8-DCCA7BFAB860</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0EB843E4-2120-4B48-B61C-A57D9329BAA2</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9674E542-ADC9-4BA4-BF8D-F9EE4A5B846A</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4BFB2045-CCEC-4117-9F72-B6723A21989B</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>7BB03D88-1DA2-4929-984B-39483BCF231D</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1E7CEC65-30F3-4EC2-ACCC-A021829E61D8</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F0D0CE29-1947-47E3-B3AD-AD25361791E8</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>537B75A1-5183-4B6F-AA5E-8A0FDDB5A4D2</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>EE70C02F-0B9F-457F-8F0C-4B04320A1893</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>F99E0EC7-ABAE-4B95-ACB9-5DCA52A5115E</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>71F1507A-34ED-4F2A-AE58-780A597AEB4F</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>79251D25-9A09-4BAF-AFAD-13F603E21563</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>C4548BD8-00D4-40AC-98F2-318104F93549</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>D09E5187-90FF-4508-8B2B-1D03BEEFAC4A</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>88614DD6-6342-4B4E-8E5F-36FDDCC5D857</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>180A6BB9-E6B2-448C-8B33-6B0B4F2DC969</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>A90B9327-261F-48D0-A5BA-4FB9045F193B</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B6F500D1-A1BE-43FF-9B94-10D85989DBC2</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>D410126B-290E-4075-B398-629E221F0819</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>2C7CB8C8-50A0-4B33-9FF8-63BB840BD445</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>0A9EB26C-9C18-4BDB-97D3-21DFC3C17BB4</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9BBFE309-0C3C-4EAA-8C61-08680EB2688B</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>CBB2DE77-6C57-4351-A749-C8539D6F670C</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>49FC7F7D-741C-4CE7-B37B-05AF3B0D3F7C</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8F781AF0-BD8B-47E7-BB2C-4576BE40732F</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>55B79716-30A7-4CA3-8084-3E24E06E28BF</string>
		<key>EndDate</key>
		<date>2022-12-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>8361B300-88EA-4AC0-BE09-89897FFEBE56</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B3D17BD4-8A49-4E21-9632-ED324DEEACCF</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>47E415F6-E59E-4081-87F2-7B1AB6E6346E</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>ABDEB0F0-383F-4949-8B1E-0324F116A777</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>06316DCE-9D50-4E61-8C16-5E3D1A4FD59C</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>B3B6D6D7-1FF6-4EE9-8CFF-FC0AC2F3481C</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>9CDD49CE-4329-4F25-A4E0-B6FCDF7BB737</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4EBF4388-F513-47F1-B0C9-663EC8790CAC</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>1D45EAD0-3343-4E96-A179-9066230BFC50</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>56825AD6-9023-4A7A-A1D2-94C3835AFD17</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>70F956BE-3E08-4A60-A928-7D529E7B4D8F</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<dict>
		<key>Extra</key>
		<integer>1</integer>
		<key>UUID</key>
		<string>4B48648F-DBAB-4174-9D9B-D285E5874EFC</string>
		<key>EndDate</key>
		<date>2022-12-30T23:23:59Z</date>
	</dict>
	<string></string>
</array>
</plist>
