<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-tos.plist</string>
			<string>https://www.dropbox.com/s/8nxjirc0qi79hw5/uuids-tos.plist?dl=1</string>
			<string>https://www.dropbox.com/s/k4lpwljbc2kwnlt/uuids-chenyccccc.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/b7cj2mwfjsw0czn/uuids-chenyc.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>6E316617-7DA4-458E-97ED-5A80B9C33C18</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-05-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-03-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-03-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-03-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-03-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-03-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6DE517E2-EC62-42AE-9203-D84CC5DA21D4</string>
		<key>EndDate</key>
		<date>2022-05-18T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>26B7C8D2-9C87-444F-ABA9-20D5BB428084</string>
		<key>EndDate</key>
		<date>2022-06-11T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A89E7407-8951-4576-A398-68FE3515B352</string>
		<key>EndDate</key>
		<date>2022-04-02T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-02-26T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoVictory</key>
		<integer>1</integer>
		<key>LeaderBoard</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
		<key>Extra</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
		<integer>1</integer>
		<key>LeaderBoard</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E282DDF5-3AE1-415B-B2D5-F61B5BC5416E</string>
		<key>Extra</key>
		<integer>1</integer>
		<key>AutoP</key>
		<integer>1</integer>
		<key>LeaderBoard</key>
		<integer>1</integer>
		<key>AutoVictory</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
