<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>4</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>5</integer>
				<key>limit</key>
				<string>0</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-kgtw.plist</string>
			<string>https://www.dropbox.com/s/qv9nj5y44ra6x7j/uuids-hackteamtt.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/7jnpzyqyj2iopr7/uuids-cyckgtw.plist?dl=1</string>
		</array>
	</dict>
	<string>IPA-start</string>
	<string>Kylo Ran</string>
	<dict>
		<key>UUID</key>
		<string>B52353B6-6AE5-4519-87EF-407B3777E3EF</string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1968CD13-7244-4FAB-A345-496D1FF63E8D</string>
		<key>EndDate</key>
		<date>2022-05-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-11T15:59:59Z</date>
	</dict>
	<string>林宇</string>
	<dict>
		<key>UUID</key>
		<string>D545AE65-9C81-4D39-B53D-3A79B97F1BF1</string>
		<key>EndDate</key>
		<date>2022-06-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3858ED7A-AB86-4D97-890A-B9FE25409DDC</string>
		<key>EndDate</key>
		<date>2022-05-19T15:59:59Z</date>
	</dict>
	<string>cyc</string>
	<dict>
		<key>UUID</key>
		<string>D7696FF5-8558-4B67-B407-AA0A6367385C</string>
		<key>EndDate</key>
		<date>2022-05-20T15:59:59Z</date>
	</dict>
	<string>cyc-temp</string>
	<dict>
		<key>UUID</key>
		<string>063CD969-6B9F-4342-A19F-99743DA3B791</string>
		<key>EndDate</key>
		<date>2022-05-06T15:59:59Z</date>
	</dict>
	<string>Wesley Fei</string>
	<dict>
		<key>UUID</key>
		<string>E7F290A6-C057-4CE6-A5C8-BDCBC4CC984F</string>
		<key>EndDate</key>
		<date>2022-05-21T15:59:59Z</date>
	</dict>
	<string>Wesley Fei</string>
	<dict>
		<key>UUID</key>
		<string>54F5A208-2B6D-4C3E-B5E3-CDDBEB7F8754</string>
		<key>EndDate</key>
		<date>2022-05-21T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-05-15T15:59:59Z</date>
	</dict>
	<string></string>
</array>
</plist>
