<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/trico0922/ccgame/main/uuids-staff.plist</string>
			<string>https://www.dropbox.com/s/qv9nj5y44ra6x7j/uuids-hackteamtt.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string>7DD8AA38-B35F-4BA7-A3B4-7923EB1092C6</string>
		<key>EndDate</key>
		<date>2022-10-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29C8C5E6-FCCA-4BBD-A728-E43CE8F49524</string>
		<key>EndDate</key>
		<date>2022-10-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BCFB7B8A-7BD0-46FF-BBCD-52431353CE4C</string>
		<key>EndDate</key>
		<date>2022-10-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0FDDF369-9D53-4EFA-A63E-E297C114A198</string>
		<key>EndDate</key>
		<date>2022-10-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5EDDB6BF-FF1E-4342-814A-81470678D79A</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3DF0B42A-C8DA-4C91-A62A-8433BCEAEBFA</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>53B977FE-B3AF-4B81-AA82-66F54CA9687C</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>175424F4-875E-4221-8A11-CC9713459EBB</string>
		<key>EndDate</key>
		<date>2022-10-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>626D9823-7BF7-45E9-B464-2ED8776A733D</string>
		<key>EndDate</key>
		<date>2022-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E193596F-574B-44FD-9FA4-6D6D300B25BF</string>
		<key>EndDate</key>
		<date>2022-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E066751-8964-4650-8010-E0C565577234</string>
		<key>EndDate</key>
		<date>2022-10-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D107DE6E-96F3-4861-81CB-C04748602283</string>
		<key>EndDate</key>
		<date>2022-08-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>85084318-71F0-4E10-9A95-201C5F6DB588</string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8B932D98-7913-4055-8B47-9B29A29C6AF3</string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D1B1331B-73BC-4B08-89DB-BD07CB22E2E2</string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>58924978-0640-484A-B37E-DE8C1731024F</string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4F6D3A0A-8D97-4C53-92A6-E80CA9E2C266</string>
		<key>EndDate</key>
		<date>2022-08-10T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C423F076-1B42-4FF8-B399-D33B7FA71D18</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3A503938-AF9B-451D-B37B-042EE7525F99</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>60EA28DE-54CB-43E9-8EE6-E49AF25C97F0</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>284E2937-6F96-4FBA-B8FB-D08A404616CC</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7DA18BF4-48B3-4F2F-86A0-FF45312CE3E3</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>33CFDAAF-3A4C-433C-967E-75B224B89D81</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>76D3E9AA-867B-456C-B3D9-8CD847C3AE13</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B3C49E84-3210-4ADA-B66E-2D2E5A49C9CC</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>16512B83-92EC-4D9A-A31C-ABD2E01E2375</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>18013AAF-4286-40A0-B1DB-286E5123D8D1</string>
		<key>EndDate</key>
		<date>2022-08-09T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>22576583-8BAB-4869-B04B-6C8B8BE8DC08</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>360C38BF-A21D-48EB-8912-C719505B1EDC</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ECF46F62-66C3-49C9-BB61-85058087DCCD</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1F05AD99-0F8B-4A41-90B1-685F96B00C6E</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>779F6659-A584-4DBB-87F8-6BE971D4E1CE</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4E3C4CB6-AD32-492E-9C84-539B4E72FCD9</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8E0B6569-BA8D-41CB-AF06-3D0983305C80</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>77713A86-C76F-4985-8B71-AEAF2DAFD256</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>00009D3C-E4DD-4308-9604-E3A389755FDF</string>
		<key>EndDate</key>
		<date>2022-08-08T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8841D041-A040-4C4A-BABD-EADA977330F3</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>01CBB959-870F-4FC7-AB71-543BD0650639</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9C887190-4FEB-4F6B-9817-AE562A729F37</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AE82B46B-83E1-446A-BBFE-95C65082A995</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CDD2DE62-4902-4FD6-9EFF-BCEFDAF72208</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>57E51C3A-80DF-41A5-89C0-3A7EB7E7E930</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>96168D3A-C989-4393-9CE5-7C533ED08FE5</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>25069B34-A2EC-41AC-91E6-DF27E7D14D75</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9D155959-1370-48AE-AFE4-E6083473B3C7</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B8C1C9A3-C9A6-450F-80BF-83648D69E5AA</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>094E27D3-3827-4CD2-BC22-833FAC9688DD</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D4A1D916-AB3C-4C2E-9C90-FEBEE71CEBF1</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>84AD5E70-79DA-4D40-89C3-BCEF51C4E259</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6DECD313-C9FD-410B-8F99-48C704EB1484</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E446B976-546A-464D-8E24-74B1EDD63E1B</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>75F7F63A-7FC2-4670-BB97-591A92C4910C</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>68735CD4-4AD3-4449-8E87-41B6B589C6C2</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7C72041B-730D-4DD8-A635-F28F5FEFACF2</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5A172B82-ABF2-4B04-BB50-B17D40C37AA2</string>
		<key>EndDate</key>
		<date>2022-09-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8F7916F8-0DCA-4906-BAC6-B53B8C8FD2CC</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6DD0DEA7-BE33-4EFE-BADF-C7865DD7AD40</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>130A8FDD-A797-4379-A0D1-CBF053D0B657</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>26ECABA8-002A-4BD8-93DC-955937B2CEC0</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8E757978-FD60-40F5-9707-7A4FAC3091E4</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7DC9F73C-48FC-440E-97AA-6C394023780A</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A8308CD2-D9FB-486C-93A9-B75BD4AE38DA</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>173123BE-7872-43AE-9B05-36AC005A0015</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>65161792-273E-4426-9EB1-D0F2C1E3E165</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>528590EB-B0E4-4F7F-8D60-70A0B744FF28</string>
		<key>EndDate</key>
		<date>2022-08-07T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>04DAD35B-4570-42C4-A330-EA76ABCAA9DF</string>
		<key>EndDate</key>
		<date>2022-08-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>96264EA1-5316-4CCC-AD3B-0257CACA7B31</string>
		<key>EndDate</key>
		<date>2022-08-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>87EB9B27-E21E-4D5B-8454-212E07DA1F8E</string>
		<key>EndDate</key>
		<date>2022-08-06T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4DB03EFB-C415-41B8-869E-767C5BD5E9DD</string>
		<key>EndDate</key>
		<date>2022-08-05T15:59:59Z</date>
	</dict>	
   <dict>
		<key>UUID</key>
		<string>D11D77F6-9660-47BC-AC5F-AC5BF2984473</string>
		<key>EndDate</key>
		<date>2022-08-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A4D66F71-606E-434A-9B3C-D566C285DBB2</string>
		<key>EndDate</key>
		<date>2022-08-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3EEF8A06-69D1-4818-9CFB-216EBABE8449</string>
		<key>EndDate</key>
		<date>2022-08-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2160B024-E183-4F5E-B29D-DF1BC52D063F</string>
		<key>EndDate</key>
		<date>2022-08-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A2F6C9EB-84BA-438A-805B-2F33164A577C</string>
		<key>EndDate</key>
		<date>2022-08-05T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4A123EF5-9B75-413A-9157-E55FA3F09842</string>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8E767333-65E3-4DD6-AD9A-8858B8686925</string>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6352BE72-1615-4A2E-A7C6-1CFC13C18289</string>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>219E0167-4650-49D1-BC26-4D563E18ADE0</string>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5198B562-DB87-49F2-8BB4-E910FBC8C1A1</string>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AFC2C2D3-04A9-40A8-9F35-21D719187836</string>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E8F16D4-B5C4-4B8B-8611-E41351F45059</string>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B3746979-42B6-4EC0-BE5D-8399335132AB</string>
		<key>EndDate</key>
		<date>2022-08-04T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CED6E144-BD80-42AE-8B93-4FDA668890B1</string>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>60EBAF60-8E45-4806-8412-CEAB7FB99A4D</string>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>874D6A6F-C15E-4220-80BE-7132E2E84A54</string>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CD231A00-E42B-4D8E-B02A-634878B4AC3E</string>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D5AC4213-6152-4B20-9497-D1EF899C6F06</string>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FA2CDDDA-B88C-411D-9E79-509C30B978AF</string>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7A06C6DC-B7D8-4A40-AD63-AB1E2E4DD11C</string>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6B8ADC24-CF0B-410B-923E-0CC1C04913EF</string>
		<key>EndDate</key>
		<date>2022-08-03T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1636E28A-2101-4F71-9BD4-0EE50C9BBBA0</string>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0BBC8DCA-11AB-4D23-916A-A9645CC778C5</string>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DA406F7A-1E54-4973-9908-048464912C26</string>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>95F137F1-7013-4BAE-9AE9-282BEAB4C119</string>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>56BE8E15-1C79-4F2E-BE44-D90F7205672B</string>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B0D243E2-B4AB-47BC-949F-60DF25C5990D</string>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ACD302D4-1A0B-4D29-A952-67A51310D839</string>
		<key>EndDate</key>
		<date>2022-08-02T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EC1BB2D6-456C-4AE9-B789-D25F172E7A70</string>
		<key>EndDate</key>
		<date>2022-08-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>903ED6E9-277E-4A70-A9FB-FAD6381733C5</string>
		<key>EndDate</key>
		<date>2022-08-01T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DEDCFFCC-0977-436E-8D98-273E7C94A345</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>23A887F5-8DEF-4BF9-897A-9019CA5EF8C7</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F9578344-DB86-44C7-9E5B-6EC1372B8DEF</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AF6B9D07-5D7D-4F67-87EF-5249234C0716</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2E1420D8-E22A-4E4A-A6DF-1181D60D0D36</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>20566A7C-7F0F-4E20-8FAE-3A55D49659B8</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A4B8EE80-FF02-4A93-8E5D-CAF41833D791</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>989A9590-0B50-44B2-B2FB-C1BAA818BD52</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8CFCDC30-637E-4BE4-9516-CD4171D947E5</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1EDFDEAC-5156-42AC-BAD8-D8944982A19B</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>449297AB-988F-417D-B736-C7CFB913F19B</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>62F192FD-19A6-4B6C-8547-4A3EA8ED4D7A</string>
		<key>EndDate</key>
		<date>2022-07-31T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>208A2BBF-8DCF-4256-9FD7-A478554842AF</string>
		<key>EndDate</key>
		<date>2022-07-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C7DC6443-2DA5-4771-9A27-5F89E3C35FF8</string>
		<key>EndDate</key>
		<date>2022-07-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3797D8B0-DEC5-4863-A6C7-0B2BF79FFD7C</string>
		<key>EndDate</key>
		<date>2022-07-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>63D2EE8A-6C79-42CB-B023-07053FE7FEEE</string>
		<key>EndDate</key>
		<date>2022-07-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C3CBC1E7-8ED7-4924-A1CA-DD399190A2ED</string>
		<key>EndDate</key>
		<date>2022-07-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>25F5F80B-0D85-4095-A6F8-F307F6D113F9</string>
		<key>EndDate</key>
		<date>2022-07-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>27674E7B-9BE0-4EE0-968B-DC24895EE1FD</string>
		<key>EndDate</key>
		<date>2022-07-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9AF71E1A-B993-4CC2-AAAF-BE90EE83C682</string>
		<key>EndDate</key>
		<date>2022-07-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0A51BAE6-F9BF-4AF8-9879-6E9B00675269</string>
		<key>EndDate</key>
		<date>2022-07-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2E47D14E-8D4F-48EB-9C34-9A399FF2CCAB</string>
		<key>EndDate</key>
		<date>2022-07-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>15BB4D88-68C8-4828-AD97-6857B3EC6B5A</string>
		<key>EndDate</key>
		<date>2022-07-29T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4FB0D865-1397-41BD-931F-4605F36B2715</string>
		<key>EndDate</key>
		<date>2022-07-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>96C7A371-0A7D-4939-8209-F558B65AD3BF</string>
		<key>EndDate</key>
		<date>2022-07-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>87EC8BED-0F42-413D-8AB8-0A3515075C29</string>
		<key>EndDate</key>
		<date>2022-07-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>389D1BD2-E532-4449-8D66-26BFEBE4CB9A</string>
		<key>EndDate</key>
		<date>2022-07-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B7A3DE8C-5636-4A0A-8894-2B0D0D34BAA7</string>
		<key>EndDate</key>
		<date>2022-07-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>18C4CE34-D0B8-4A9E-B60C-4A99F2C4F89D</string>
		<key>EndDate</key>
		<date>2022-07-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>70A229AC-0A55-4350-A840-DDF166B3B598</string>
		<key>EndDate</key>
		<date>2022-07-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F07A00BE-0232-449F-B3A6-671E4857A0F0</string>
		<key>EndDate</key>
		<date>2022-07-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B813E945-D522-4439-A9B7-9902B09E4734</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>634FC257-5317-4B45-9192-FAA571803A85</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>22577E4E-5605-41D0-95A7-DB95DF0151CE</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>94E1193E-7FDB-477E-9178-9F4347A5995A</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7FA0252D-9A71-402C-9A59-58F365C4B404</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2C57E9F8-C22D-44E6-9AC9-A7097F910AC3</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>62A844D7-372A-428C-9752-9FBB6A025F70</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2F2B77BE-85C0-4E30-AA39-43BAC12AF287</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8AB6B235-57E0-485F-88E3-501D69CAE586</string>
		<key>EndDate</key>
		<date>2022-07-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0CC8E76D-4FC4-42DC-B0A6-86094AB181F1</string>
		<key>EndDate</key>
		<date>2022-07-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>31C9E1E3-DAAA-43C0-9753-0BDAF02A40FB</string>
		<key>EndDate</key>
		<date>2022-07-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D19D24ED-2DEA-4270-81E6-471D9B7834EF</string>
		<key>EndDate</key>
		<date>2022-07-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>13C205BC-0B3B-4F2E-9202-D153C2A75B21</string>
		<key>EndDate</key>
		<date>2022-07-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>673AD89A-A4D3-4D6C-993D-CBB5DB626051</string>
		<key>EndDate</key>
		<date>2022-07-26T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D35DD15E-46DC-4CDD-9538-EC79CA92263D</string>
		<key>EndDate</key>
		<date>2022-07-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6E786FB4-487D-4F09-ACF5-40D238EB8595</string>
		<key>EndDate</key>
		<date>2022-07-25T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EB693F9F-F973-41B9-A66E-5FD951115794</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D7E6B0EB-AD4E-4B2E-A182-A80479E4FA87</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C470892F-2384-4644-87EB-F83C7CEC2E07</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>DFFDEF86-8D92-4D6B-A5D8-10D967E51A12</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CBACC1E4-6400-493A-A417-9DE69CF5E555</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>FF4B1802-BECE-47ED-8268-30E6E7BB9010</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>006CE545-37B4-4542-AAEE-F4069A0C3796</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B10C5BB8-07E1-4D07-A671-E7F6F5F73CB8</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5EDA5147-80DA-453E-BF81-BFE9151716B9</string>
		<key>EndDate</key>
		<date>2022-07-24T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>026E34E2-D533-4AE9-A7DD-31EA4C609650</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B817B5C5-CEAF-417C-9219-75FD28416071</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C4F7B0BA-6512-48F9-9F10-10F312AFDDD3</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4E166954-27EF-4B06-AFB0-98E0CC08EB4B</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3F36AE0F-62A7-4981-A964-A80389BAA4C9</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>876E8A26-551C-4422-97D4-AB3492856969</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E91909E3-5B6B-40C9-8C93-F55EC1BB5C4E</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A8FF8F80-45ED-4816-BDE8-23BA3324A09B</string>
		<key>EndDate</key>
		<date>2022-07-23T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>79474B85-DF72-4181-B4A8-952D3D3B5234</string>
		<key>EndDate</key>
		<date>2022-07-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>77903945-A1C4-47DE-AF5B-924A8487970B</string>
		<key>EndDate</key>
		<date>2022-07-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F1916C86-A919-4B62-8FC4-BC105F422262</string>
		<key>EndDate</key>
		<date>2022-07-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>AD04FFFE-9B82-4711-81A1-A23D279470C4</string>
		<key>EndDate</key>
		<date>2022-07-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6455B87A-E9F1-4B35-ACBA-EA769944CA2E</string>
		<key>EndDate</key>
		<date>2022-07-22T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>66DC15F6-BDB1-4DA1-9524-38429892E82D</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6F833DAE-D119-4E59-97F9-BB7362F957B6</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>62AC47EF-0298-4A01-A750-3CC9D962BC2A</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EF1F5945-7207-4A6B-A224-4D49ED6E7586</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>095FFF98-861B-45FF-882B-AB7FEFFAFF36</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CB2BA374-76AE-4140-A4D4-00E2C6A58F3F</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A0F425A8-5715-466C-B889-8FA3A56980B3</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1D14D56F-713E-4D05-B78F-7D25C90F198E</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4C5DDCA2-711A-4127-863A-F9841CC4BE59</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7D49E37B-5C18-4B1B-97DB-DA552069F776</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F918DC0A-38C8-4958-BA9F-0AEFAFC6965D</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>863580D2-DA8F-4024-B8A2-4B203385F3EF</string>
		<key>EndDate</key>
		<date>2022-07-21T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>59A0C46F-C9E4-48CB-8EB6-9159C120767C</string>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CEE6C84E-2847-49CA-A450-F5D65715F196</string>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>20BDE512-E58F-4A34-812A-3FD0213C83AE</string>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>81CE9D45-ECED-49E2-BCF5-73643ED6D788</string>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>8C7E211B-B3A1-4E24-978E-7FB482FB70EE</string>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2C527410-8813-4943-816B-AD63644CF35A</string>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D3CD78A1-7A31-43C3-858B-4E8201BED14E</string>
		<key>EndDate</key>
		<date>2022-07-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>458180E8-F5AC-4342-B252-2A68B9E37BB5</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5D37B6CC-D0A4-40FF-A6A7-89F43B7E0055</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>29EBDA61-C2A3-4FF3-A9B2-7028264FAECE</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B7AA50A7-395F-4E4C-8197-B75A9A6DC81F</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>60F933BD-013E-48B7-8536-98067E2BA24F</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BCC546E4-95A7-4A1D-8DB2-83A523E92ED6</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B51E378B-EC17-4FE6-AFF7-E208F7441EF2</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7DA90368-926E-4135-8241-4BE3BDAC77C0</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ADD8FE0E-C98A-4A35-9E10-F339BADBDB85</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>ADD8FE0E-C98A-4A35-9E10-F339BADBDB85</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>BE473C90-A1E0-4661-9549-487B5A70ED6C</string>
		<key>EndDate</key>
		<date>2022-07-19T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6B439A3C-C9F5-4FE2-86B5-85F3FD4010C0</string>
		<key>EndDate</key>
		<date>2022-07-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>31343984-9456-4B20-8EBB-A8CD252AC032</string>
		<key>EndDate</key>
		<date>2022-07-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D1B473D5-E7DB-496C-8749-F1820C3751A6</string>
		<key>EndDate</key>
		<date>2022-07-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B46CA8DD-7E14-4B89-96B9-35443F808129</string>
		<key>EndDate</key>
		<date>2022-07-18T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CA63050F-627E-4770-8494-B46AA6ACBA0D</string>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>7E3200E4-1AA7-4410-9FCF-601F2C48E68E</string>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1C956773-5351-44FB-B1A7-3CC9C7B2DA7C</string>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F7E8E5DB-A93E-4820-BFC9-783DEEDBF99D</string>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>147BEFB0-8200-4AE1-925E-62307CF99DD0</string>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2630B38E-6DE8-4F3E-AD1F-F44FBF3DB73C</string>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C663F13C-8088-45B8-A68B-2D59F44EF047</string>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>0E5AEA85-FDED-4FD0-A6C5-07553C60E677</string>
		<key>EndDate</key>
		<date>2022-07-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A79400BE-2662-4B3A-B757-75DD2C43FB08</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D1B1331B-73BC-4B08-89DB-BD07CB22E2E2</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>18570F00-3FDC-4E01-A2BE-1B656FB84BFF</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>450DF842-1F5C-48B7-AB1E-A8D006BA2070</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E23D8542-1B56-45B8-BE25-11D1CCEFA9C1</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F45B6E8F-3B69-4232-AC25-15BFDA860F06</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>432BC093-5680-4B71-8492-0E781ABAA8C5</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>6F2B4477-E06A-4A9D-A978-8DBA388E5EA7</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>A5BAC29C-741A-4DCD-A8E1-A6092C07E987</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>99025308-6054-4EA9-8F98-FF8A9078BA0B</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B7957415-04AF-42F3-8F8E-8E9F4C26A8E5</string>
		<key>EndDate</key>
		<date>2022-07-11T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>5F9917A3-77F0-40A8-A2C5-6A454FE7398A</string>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1ACC618D-C627-4148-9A07-EE3B09CADC1D</string>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CCB67A25-BE07-4F2C-BA74-A0F2EA663D14</string>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>CCB67A25-BE07-4F2C-BA74-A0F2EA663D14</string>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>364178E8-41B9-4012-A092-40F6A008C747</string>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EF0998F8-FBC1-4E1D-B9CE-58AAEA4ED29F</string>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4225F629-54F3-44CF-83C8-9B57AA06BE49</string>
		<key>EndDate</key>
		<date>2022-07-12T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>14405DAC-DABD-4DEB-A42E-21289FC1CD10</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D3EFD2DF-93C8-453E-9DBC-1369F8C39EB9</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B391CAE7-E02A-48BF-BD66-1F694C7315AE</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>81221E1E-FC10-4D2D-A0A0-10B0AAF5E61B</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C8E732C8-FE12-424A-9A20-876128DD4B1C</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F3A2973B-3E04-43FE-9367-D26096A49287</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F0CD7A79-930A-4739-BCA9-E00825241EAF</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>90A95C62-926B-48F2-BF76-C113B07B6D29</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>84D5B001-25F0-4C7F-AD7D-4B5A99C7C576</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>C18B30A0-4E4E-444F-BF28-40EDE609A5DD</string>
		<key>EndDate</key>
		<date>2022-07-13T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>962C1805-30C6-4C03-98F3-6104B04FB8C7</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>4277C606-0696-4C27-8338-35E6B0894F3C</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>3B8B0202-E3FB-412B-9579-60D622CCC722</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>84D9B6B6-8DF0-4115-87CF-31EDC587792B</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>148ACE66-7A00-42BC-8C04-6F1BFA37B3F7</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E8B00CD0-8069-4724-B47C-3E350E0D7561</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>14A9A848-4CA5-4913-9072-5E2895AF328D</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>EA8DF6A4-A923-42D4-8C2F-0A9ED22EA45E</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D4B3D239-F9F4-486A-B2BA-68C9B65F98F8</string>
		<key>EndDate</key>
		<date>2022-07-14T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>2CE598FB-AB92-458C-B076-5ABD53C32D0E</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>54B6A1CF-3AD8-4333-98E3-1D9562E3067D</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>D6F491C6-6ABC-4F8B-AD82-EC204D7BADF3</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>F9CE486E-AA52-4C91-91CE-9658356AA527</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>578E6391-5631-4EA8-8C01-60176F5569C3</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>93EDB5F6-BD5C-49E2-8546-DBF212A3C6BC</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>48B973E2-CCB9-499D-A95C-8DED4E5CD536</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>E7A90855-E060-40E8-B972-E2BFB40D8535</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>61AB6EB6-AC04-4BBB-ADDD-599CC013C6E3</string>
		<key>EndDate</key>
		<date>2022-07-15T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>B518C325-109A-47B4-8D58-84782D47C0BE</string>
		<key>EndDate</key>
		<date>2022-07-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>9E82D36A-E55E-4B6D-91A8-E139BD66CFD6</string>
		<key>EndDate</key>
		<date>2022-07-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>48696088-702B-47DC-A900-8A4E76510F07</string>
		<key>EndDate</key>
		<date>2022-07-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>1E372F4A-2602-4334-804D-46DCC64C1247</string>
		<key>EndDate</key>
		<date>2022-07-16T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string>955B9188-5EC6-4D68-BDBF-99A29C1DE59C</string>
		<key>EndDate</key>
		<date>2022-07-16T15:59:59Z</date>
	</dict>
</array>
</plist>
