<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>CC</key>
		<string>Restriction</string>
		<key>Items</key>
		<array>
			<dict>
				<key>index</key>
				<integer>6</integer>
				<key>limit</key>
				<string>-1</string>
			</dict>
		</array>
		<key>Servers</key>
		<array>
			<string>https://raw.githubusercontent.com/cctgapp/repo/master/uuids-tos.plist</string>
			<string>https://www.dropbox.com/s/8nxjirc0qi79hw5/uuids-tos.plist?dl=1</string>
			<string>https://www.dropbox.com/s/qv9nj5y44ra6x7j/uuids-hackteamtt.plist?dl=1</string>
			<string>https://tsehome-my.sharepoint.com/:u:/g/personal/cct_tsehome_onmicrosoft_com/EYCeikFQ8rpOnqSt-NlPK3YBA3URQMkT0fEecI-70Zv-DA?e=d9tigh&amp;download=1</string>
			<string>https://www.dropbox.com/s/b7cj2mwfjsw0czn/uuids-chenyc.plist?dl=1</string>
		</array>
	</dict>
	<string></string>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-20T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-17T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-02-28T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2022-04-30T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2023-02-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2023-02-27T15:59:59Z</date>
	</dict>
	<dict>
		<key>UUID</key>
		<string></string>
		<key>Extra</key>
		<integer>1</integer>
		<key>EndDate</key>
		<date>2023-02-27T15:59:59Z</date>
	</dict>
</array>
</plist>
